@{ 
    ViewBag.Title = "Панель управления";
}


<div>
    <style type="text/css">
        a {
            display:block;
            padding: 10px 0;
        }
    </style>
        <a asp-controller="News" asp-action="AllNews"> Редактирование новостей</a >
        <a asp-controller="Services" asp-action="AllServices"> Редактирование услуг</a >
        <a asp-controller="TextFields" asp-action="Fields"> Редактирование страниц</a >
    
</div>